<div id="body">
  <div class="header">
    <img src="images/lawyers.jpg" alt="">

  </div>
  <div class="body">
    <p>
      </p>
    <img src="images/hammer.png" alt="">

      <p>
      </p>
  </div>			<br><br><div id="content">
          			<div>
                  <h1>Descripción </h1><br>
<div class="header">
                <div id="blasones">
                  <h2 class="text-justify">Nombre: <%= blazon.name %></h2><br>
                  <h4 class="text-justify">Descripción: <%= blazon.description %></h4><br>
                      </div>
                      <div class="blason">
                      <p > <img  src="<%= blazon.pic_path %>" height=600px;/></p>
                    </div>
                  <h5><a href="/menu %>" >Volver al Menú</a></h5>
</div>
                  </div><br><br>
