
<div id="body">
  <div class="header">
    <img src="images/lawyers.jpg" alt="">

  </div>
  <div class="body">
    <p>
      </p>
    <img src="images/hammer.png" alt="">

      <p>
      </p>
  </div>
          			<br><br><div id="content">
          			<div>
                  <h1>ZONA ADMINISTRADOR</h1><br>
                  <div class="header">
                    <br><br><br><br><br>
                  <form action="/admin" method="post" enctype="">

                    <div>
                     <label for="title"></label>
                        <input type="password" name="password" class="form-control" placeholder="intrduce el password" ><br><br>





                      <input type="submit" value="Zona Admin" />


                    </div>
                  </form><!-- form -->
                  <br><br><br><br><br><br>
                </div>
          			</div>
          		</div>


          	</div>
            <br><br><br><br><br><br>

          </body>
          </html>
