
		<div id="body">
			<div class="header">
				<img src="images/lawyers2.jpg" alt="">
				<div class="section">
					<p>
						<br>La virtud y mérito personal constituyen la
verdadera Nobleza, y són por lo mismo la base fundamental de la Ciencia Heroica,
la cual trata precisamente de los honores y distinciones que cada uno merece por
su valor, por su virtud y por sus nobles hazañas. (Francisco Piferrer)
					</p>
				</div>
			</div>
			<div class="body">

			</div>
			<div class="footer">
				<div>
					<div>
						<h2>Enlaces</h2>
						<ul>
							<li>
								<a href="http://www.royalhouseofgeorgia.ge/" target="blank">Casa Real de Georgia.</a>
							</li>
							<li>
								<a href="http://blogdeheraldica.blogspot.com.es/" target="blank">Blog de Heráldica.</a>
							</li>
							<li>
								<a href="http://docelinajes.blogspot.com.es/" target="blank">Doce Linajes de Soria.</a>
							</li>
							<li>
								<a href="http://heraldicavaticana.blogspot.com.es/" target="blank">Heráldica vaticana.</a>
							</li>
							<li>
								<a href="http://www.riag.es" target="blank">RIAG.</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="http://arteheraldico.blogspot.com.es/" target="blank">Arte Heráldico.</a>
							</li>
							<li>
								<a href="http://www.royalcollegeofarms.com/" target="blank">Royal College of Arms</a>
							</li>
							<li>
								<a href="http://heraldicahispanica.blogspot.com.es/" target="blank">Heráldica Hispana.</a>
							</li>
							<li>
								<a href="http://www.librosdeheraldica.com/index.php" target="blank">Libros de Heráldica.</a>
							</li>

						<li>
								<a href="http://salondeltrono.blogspot.com.es/" target="blank">Salón del Trono.</a>
							</li>

						</ul>
					</div>
				</div>
				<div>
					<div>
						<h2>Blog</h2>
						<div>
							<p>
								<a href="http://heraldistas.blogspot.com.es/2013/11/nueva-web-de-heraldistas.html" target="blank">Nueva Web.</a><span> - Noviembre  12</span>
							</p>
							<p>
								<a href="http://heraldistas.blogspot.com.es/2013/11/claudio-chaques-familiarem-ordinis.html" target="blank">Claudio Chaqués, Familiarem Ordinis Teutonici .</a><span> - Noviembre  11</span>
							</p>
							<p>
								<a href="http://heraldistas.blogspot.com.es/2013/11/diseno-de-mis-armas-realizado-por-don.html" target="blank">Diseño de mis Armas realizado por don Juan Fernandez Molina .</a><span> - Noviembre  10</span>
							</p>
							<p>
								<a href="http://heraldistas.blogspot.com.es/2013/11/don-alfredo-escudero-y-diaz-madronero.html" target="blank">Don Alfredo Escudero y Díaz-Madroñero, Gran Collar de la Orden del Águila de Georgia .</a><span> - Noviembre  6</span>
							</p><br>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>
