<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="es">

<head>
<meta name="Keywords"  />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Fernando Martínez Larrañaga</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">

<link rel="shortcut icon" href="http://heraldistas.com/favicon.ico">
<link rel="stylesheet" href="css/style2.css" type="text/css" charset="utf-8" />
  <!--[if lte IE 7]>

  <![endif]-->

</head>

<body>
  <div class="page">
    <div id="header">

<div class="connect">




<h4>
<a href="index.html" class="logo2"><img src="images/logo.png" alt=""></a>

</h4>
      </div>
      <div id="menu">

        <ul>
          <li>
            <a href="/">Inicio</a>
          </li>
          <li>
            <a href="blasones">Redactor</a>
          </li>
          <li>
            <a href="/heraldry">Diseño Web</a>
          </li>
          <li>
            <a href="menu">Heráldica</a>
          </li>
          <li>
            <a href="/admin">Administrador</a>
          </li>
          <li>
            <a href="http://heraldistas.blogspot.com" target="blank">Blog</a>
          </li>
        </ul>
      </div>
    </div>

      <%- body -%>
      <div id="footer">
        <div>
          <span>Sígueme :</span>
          <a href="https://www.facebook.com/home.php#!/fernando.martinezlarranaga" class="facebook" target="_blank">facebook</a>
          <a href="https://twitter.com/BarondeAgila" class="twitter" target="_blank">twitter</a>
          <a href="#" class="googleplus" target="_blank">googleplus</a>
        </div>
        <p>
          Design by Fernando Martínez Larrañaga
        </p>
      </div>
      </div>
      </body>
      </html>
