
<div id="body">
  <div class="header">
    <img src="images/lawyers.jpg" alt="">

  </div>
  <div class="body">
    <p>
      </p>
    <img src="images/hammer.png" alt="">

      <p>
      </p>
  </div>
          			<br><br><div id="content">
          			<div>
                  <h1>Suba una nueva descripción</h1><br><br>
                  <h1></h1>
                  <form action="/new" method="post" enctype="">

                    <div>
                     <label for="title"></label>
                        <input type="text" name="name" class="form-control" placeholder="name" ><br><br>




                        <label for="description"></label>
                        <textarea id="description" name="description" class="form-control" placeholder="description"></textarea>
                        <br><br>
                      <input type="submit" value="Sign Up" />


                    </div>
                  </form><!-- form -->

          			</div>
          		</div>

          		<div id="footer">
          			<div>
          				<span>Sígueme :</span>
          				<a href="https://www.facebook.com/home.php#!/fernando.martinezlarranaga" class="facebook" target="_blank">facebook</a>
          				<a href="https://twitter.com/BarondeAgila" class="twitter" target="_blank">twitter</a>
          				<a href="#" class="googleplus" target="_blank">googleplus</a>
          			</div>
          			<p>
          				Design by Fernando Martínez Larrañaga
          			</p>
          		</div>
          	</div>
          </body>
          </html>
