<div id="body">
  <div class="header">
    <img src="images/lawyers.jpg" alt="">

  </div>
  <div class="body">
    <p>
      </p>
     

      <p>
      </p>
  </div>			<br><br><div id="content">
          			<div>
                  <h1>Descripción del <%= blazon.name %> </h1><br>

                <img src="<%= item.pic_path %>" height=170%>
                  <h3><%= blazon.name %></h6>
                  <h4><%= blazon.description %></h5>
                  </div><br><br>
                  <p>Volver al menú<a href="/menu">Menú</a></p>
